---
const { id, hero, title, pubdate, heroalt, description, data} = Astro.props;
import { Image } from 'astro:assets';
import FormattedDate from './FormattedDate.astro';
---
<article>

  <div class="grid grid-cols-4 lg:grid-cols-6">
  
    <div class="post-image col-span-4 lg:col-span-2 p-2">
      {data.image && <Image src={data.image} alt={data.image_alt}/> }
    </div>
    <div class="post-description col-span-4 p-2">
      <section class="post-title">
      <a href={`/blog/${id}/`}>
        <h2>{title}</h3>  
      </a>
      <FormattedDate date={pubdate} />
      </section>
      <p >{description}</p>
        <a href={`/blog/${id}/`} class="">Read More</a>		

    </div>
  </div>
  
</article> 