---
import BaseHead from "/src/components/BaseHead.astro";

import Image from "astro/components/Image.astro"
import bg_image from "/src/assets/theme-images/hero-image.jpg"

import DialogModalMC from "/src/components/DialogModalMC.astro"
import FooterMain from "/src/components/FooterMain.astro"
import HeaderMain from "/src/components/HeaderMain.astro"
import BubbleBackground from "/src/components/BubbleBackground.astro";

const { title, description, keywords, url, global_settings, metadata, structured_data } = Astro.props
---
<BaseHead title={title} description={description} keywords={keywords} url={url} metadata={metadata} global_settings={global_settings} structured_data={structured_data}>
</BaseHead>
<body id="top">
    <!-- Skip link -->
    <a class="fixed -top-20 focus-visible:top-0 p-3 bg-black/90 transition-all duration-300" href="#main">Skip to content</a>
    <BubbleBackground/>
    <!-- bg image -->
    
    <!--<Image src={ bg_image } alt="" format="avif" height={1080} width={1920} class="absolute min-h-svh object-cover inset-0 bottom-auto -z-1 w-full h-auto opacity-20 mask-b-from-50%" loading="eager" />-->

    <!-- Header -->
    <HeaderMain settings={ global_settings } />

    <!-- Main slot -->
    <main id="main">
      <slot />
    </main>

    <!-- Footer -->
    <FooterMain settings={ global_settings } />
</body>
</html>

